@model RegisterVM


<section id="">
	<!--form-->
	<div class="container">
		<div class="row">
			<div class="col-sm-4 col-sm-offset-1">
				<div class="login-form">
					<!--login form-->
					<h2>Đăng Ký</h2>
					@if(TempData["SuccessMessage"] != null)
					{
						<div class="alert alert-success">
							@TempData["SuccessMessage"]
						</div>
					}
					<form asp-action="Register" method="post">
					<div>
					<label>Tên đăng nhập:</label>
					<input asp-for="@Model.UserName" class="form-control" />
					<span asp-validation-for="UserName" class="text-danger"></span>
					</div>
					<div>
					<label>Email:</label>
					<input asp-for="@Model.Email" class="form-control" />
					<span asp-validation-for="Email" class="text-danger"></span>
					</div>
					<div>
					<label>Mật khẩu:</label>
					<input asp-for="@Model.Password" type="password" class="form-control" />
					<span asp-validation-for="Password" class="text-danger"></span>
					</div>
					<button type="submit" class="btn btn-primary">Đăng ký</button>
					<a asp-action="Login" asp-controller="Account">Đăng Nhập </a>
					</form>
					
					


				</div><!--/login form-->
			</div> 			
 		</div>
	</div>
</section><!--/form-->
@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
