@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="color: orange; font-weight: bold; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);">
        Welcome Website Bán Hàng Điện Thoại MOBILUX
    </h1>
</div>
