
<div class="container text-center">
	<div class="logo-404">
		<a href="index.html"><img src="~/image/page404.jpg" alt="" /></a>
	</div>
	<div class="content-404">
		<img src="images/404/404.png" class="img-responsive" alt="" />
		<h1><b>Xin lỗi!</b> Chúng tôi không tìm thấy trang này</h1>
		<p>Trang tìm kiếm của bạn không tìm thấy</p>
		<h2><a asp-controller="Home" asp-action="Index">Quay trở lại trang chủ</a></h2>
	</div>
</div>
