<footer id="footer">
	<!--Footer-->
	<div class="footer-top">
		<div class="container">
			<div class="row">
				<div class="col-sm-2">
					<div class="companyinfo">
						<h2><span>MOBILUX</span></h2>
						<p>Mobilux – Chuyên cung cấp điện thoại, phụ kiện công nghệ chính hãng với giá tốt và dịch vụ chuyên nghiệp!</p>
					</div>
				</div>
				
				<div class="col-sm-3">
					<div class="address">
						<img src="images/home/map.png" alt="" />
						<p>505 S Atlantic Ave Virginia Beach, VA(Virginia)</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="footer-widget">
		<div class="container">
			<div class="row">
				<div class="col-sm-2">
					<div class="single-widget">
						<h2>Service</h2>
						<ul class="nav nav-pills nav-stacked">
							<li><a asp-controller="Product" asp-action="Index">Product</a></li>
							<li><a asp-controller="Home" asp-action="Contact"> Contact Us</a></li>
							
						</ul>
					</div>
				</div>
				<div class="col-sm-2">
					<div class="single-widget">
						<h2>Liên Hệ</h2>
						<ul class="nav nav-pills nav-stacked">
							<li>Địa chỉ: 256 Nguyễn Văn Cừ,Ninh Kiều, Cần Thơ</li>
							<li>Email: mobilux@gmail.com</li>
							<li>SĐT: 0899069754</li>
						</ul>
					</div>
				</div>

@* 				<div class="col-sm-2">
					<div class="single-widget">
						<h2>Policies</h2>
						<ul class="nav nav-pills nav-stacked">
							<li><a href="#">Terms of Use</a></li>
							<li><a href="#">Privecy Policy</a></li>
							<li><a href="#">Refund Policy</a></li>
							<li><a href="#">Billing System</a></li>
							<li><a href="#">Ticket System</a></li>
						</ul>
					</div>
				</div>
				<div class="col-sm-2">
					<div class="single-widget">
						<h2>About Shopper</h2>
						<ul class="nav nav-pills nav-stacked">
							<li><a href="#">Company Information</a></li>
							<li><a href="#">Careers</a></li>
							<li><a href="#">Store Location</a></li>
							<li><a href="#">Affillate Program</a></li>
							<li><a href="#">Copyright</a></li>
						</ul>
					</div>
				</div>
 *@

				<div class="col-sm-3 col-sm-offset-1">
					<div class="single-widget">
						<h2>About Shopper</h2>
						<h4>Mobilux tự hào là hệ thống bán lẻ điện thoại và phụ kiện công nghệ hàng đầu,
							cam kết mang đến cho khách hàng những sản phẩm chính hãng, chất lượng cao với giá cả cạnh tranh. 
							Chúng tôi không chỉ cung cấp đa dạng các dòng smartphone từ những thương hiệu danh tiếng như Apple, Samsung, Xiaomi, Oppo, Vivo,… .Những sản phẩm công nghệ hiện đại</h4>
					</div>
				</div>

			</div>
		</div>
	</div>

@* 	<div class="footer-bottom">
		<div class="container">
			<div class="row">
				<p class="pull-left">Copyright © 2013 E-SHOPPER Inc. All rights reserved.</p>
				<p class="pull-right">Designed by <span><a target="_blank" href="http://www.themeum.com">Themeum</a></span></p>
			</div>
		</div>
	</div>
 *@
</footer><!--/Footer-->
