@using WEB.Data
@model IEnumerable<Category>


<div class="col-sm-3">
					<div class="left-sidebar">
						<h2>Danh Mục Hàng Hóa</h2>
						<div class="panel-group category-products" id="accordian"><!--category-productsr-->
							
							@foreach(var item in Model)
                            {
                                <div class="panel panel-default">
                                    <div class="panel-heading">
						<h4 class="panel-title"><a asp-controller="Product" asp-action="ProductbyCategory" asp-route-id="@item.CategoryId">@item.CategoryName</a></h4>
                                    </div>
                                </div>
                            }					
							
						</div><!--/category-productsr-->
					
					</div>
				</div>